In [9]:
import pymongo
import json
from bson import BSON
import pandas as pd
import os
from datetime import datetime
import matplotlib.pyplot as plt
import random
%matplotlib inline

In [17]:
DATA_PATH = '../ALL_DATA_2/'

In [18]:
all_data_file_names = os.listdir(DATA_PATH)

In [5]:
all_words = pd.read_csv("../results/noFilter/allWords.csv")

In [6]:
all_words

              words  occurrences  frequency
0              être       255977   3.410142
1             avoir       212874   2.835921
2                et       208209   2.773773
3               que       136050   1.812467
4                il       113436   1.511202
...             ...          ...        ...
106011     kammerer            1   0.000013
106012    aplasique            1   0.000013
106013    leucocyte            1   0.000013
106014           dv            1   0.000013
106015  dillenseger            1   0.000013

[106016 rows x 3 columns]

In [7]:
all_words['cumulative'] = all_words['frequency'].cumsum()

In [8]:
all_words

              words  occurrences  frequency  cumulative
0              être       255977   3.410142    3.410142
1             avoir       212874   2.835921    6.246062
2                et       208209   2.773773    9.019836
3               que       136050   1.812467   10.832303
4                il       113436   1.511202   12.343504
...             ...          ...        ...         ...
106011     kammerer            1   0.000013   99.999947
106012    aplasique            1   0.000013   99.999960
106013    leucocyte            1   0.000013   99.999973
106014           dv            1   0.000013   99.999987
106015  dillenseger            1   0.000013  100.000000

[106016 rows x 4 columns]

In [10]:
important_words_80 = all_words[all_words['cumulative'] <= 80]['words']

In [11]:
important_words_80

0                être
1               avoir
2                  et
3                 que
4                  il
            ...
2565          magasin
2566    démographique
2567          barnier
2568             peau
2569           saison
Name: words, Length: 2570, dtype: object

In [16]:
max_of_epochcs = 2
objective_reached = False
while (max_of_epochcs > 0) and (objective_reached==False):
    sample_article_filenames = random.choices(all_data_file_names, k=10)
    for single_article_filename in sample_article_filenames:
        with open(DATA_PATH + single_article_filename, 'r') as file_handle:
            article_content = 
    max_of_epochcs -= 1
    print(max_of_epochcs)

['20d3ec9bedabe0fa843a2a6a45d5fca5.json', 'c9702242c9cc01a4a59cdd188e6daf59.json', '504cfa8635e0b2119ec5aa978e5f7dcb.json', 'b96a478847841bc40b5bdcf1bc85c984.json', '9be7d174fda7faefb0c8bcf11541b10f.json', '3e05b0ccc3c8c300f6f9d337e2813db0.json', '56de963c84ed742adbc33e9ab17ba0c6.json', 'ee5cda382ebd45dd148605213eaa1978.json', '44f1781753c80597befb2fc007a101b8.json', 'ff8c7c0b8781f1a480d3d59af00c2209.json']
1
['8582a6e5cf67018740607e36be9ed1c1.json', '42feda37c2e3cfa6b416871ff3cad7b9.json', 'c5b12cc6fefd57b955cceab8dbbfd3dc.json', 'fb548fa316b9803be33fccadab1851ed.json', 'b7202ef6035fc8b1b620842bd70d837f.json', 'b2450af86dc95c37437317886125daee.json', 'e7a77085dc05bca23469734c979aaaa8.json', '93ae54189c2e378b46924a664e96c5cf.json', '2eafc5af9c4cfc06d139dd5a4ca26d89.json', 'd08aad808ed2edf4028ba1e380c187ab.json']
0